<div>
  <h1 mat-dialog-title style="text-align: center;">{{ data.title }}</h1>
  <div style="max-height: 300px; overflow: auto;">
    <p [innerHTML]="data.info"></p>
  </div>
  <div style="text-align: right; margin-top: 20px;">
    <button [mat-dialog-close] mat-button style="background: #3F51B5; color: white">
      Aceptar
    </button>
  </div>
</div>
