<mat-toolbar
  style="display: flex; justify-content: space-between;"
  class="bg-primary"
>
  <div class="site">
    <img
      src="../../../assets/CL_Logo.png"
      style="margin-right: 20px;"
      height="90%"
      alt="LOGO"
    />
    <span>CL Encoder <span class="subtitle"> - Open Source</span></span>
  </div>
  <div class="repo">
    <a target="_blank" href="https://gitlab.com/delacruzfamilia13/clencoder">
      <span>Repositório</span>
      <img
        src="../../../assets/gitlab_logo.png"
        style="height: 60%; margin-left: 20px"
        alt=""
    /></a>
  </div>
</mat-toolbar>
