.mat-toolbar {
  background: #3f51b5;
  box-shadow: 0px 2px 4px 0px #00000094;
  color: #fff;
}

@media (max-width: 550px) {
  .subtitle,
  .repo span {
    display: none;
  }
  .site span {
    text-align: center;
  }
  .mat-toolbar {
    justify-content: center;
  }

  .repo {
    width: auto !important;
  }
}

.site {
  display: contents;
}

.repo {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10px;
  transition: 200ms;
  a {
    display: flex;
    height: inherit;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-decoration: none;
  }
  cursor: pointer;
  &:hover {
    background: #0000003b;
  }
}
