<mat-horizontal-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>Cargar contenido</ng-template>
        <div style="text-align: center;">
            <h3>Agregar a continuación el contenido que desea decodificar</h3>
            <mat-form-field class="example-full-width" style="display: block">
                <textarea rows="8" matInput placeholder="Escriba el contenido que desea cifrar"
                    [(ngModel)]="encrypedText"></textarea>
            </mat-form-field>
            <button mat-button style="background: #009688; color: #fff" (click)="fileInput.click()">
                <mat-icon>attach_file</mat-icon>
                Cargar desde archivo
            </button>
            <input hidden (change)="onFileLoad()" #fileInput type="file" id="fileCryped">
        </div>

        <div class="foot">
            <button [disabled]="encrypedText.length <= 0" style="background: #3F51B5; color: #fff" mat-button
                matStepperNext> Siguiente
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Clave de cifrado</ng-template>
        <h3>Clave de cifrado</h3>
        <p>Favor proporcionar la clave de cifrado para poder leer esta información</p>
        <mat-form-field style="display: inline;">
            <input matInput placeholder="Clave de cifrado" [(ngModel)]="key" />
        </mat-form-field>

        <div class="foot">
            <button mat-button matStepperPrevious style="background: #d4d4d4; margin-right: 20px;">
                <mat-icon>arrow_back</mat-icon>
                Atras
            </button>
            <button style="background: #3F51B5; color: #fff" mat-button matStepperNext (click)="decode()">
                <mat-icon>lock_open</mat-icon>
                Decifrar
            </button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Listo</ng-template>
        <div style="text-align: center;">
            <h3> Cadena descifrada</h3>
            <p>La cadena ha sido descifrada exitosamente.</p>
            <mat-form-field class="example-full-width" style="display: block">
                <textarea readonly rows="8" matInput placeholder="Contenido decifrado"
                    [(ngModel)]="decodedText"></textarea>
            </mat-form-field>
            <p>
                <button mat-button style="background: #009688; color: #fff; margin-right: 20px"
                    (click)="copy(decodedText)">
                    <mat-icon matSuffix>file_copy</mat-icon>
                    Cpiar texto!
                </button>
                <button mat-button style="background: #009688; color: #fff" (click)="createFile()">
                    <mat-icon matSuffix>vertical_align_bottom</mat-icon>
                    Descargar Archivo
                </button></p>

        </div>
        <div class="foot">
            <button mat-button matStepperPrevious style="background: #d4d4d4; margin-right: 20px">
                <mat-icon>arrow_back</mat-icon>
                Atras
            </button>
            <button mat-button (click)="stepper.reset()" style="background: #d4d4d4" (click)="reset()">Volver al
                inicio</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>