<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step>
    <ng-template matStepLabel>Clave de cifrado</ng-template>

    <div style="text-align: center;">
      <h3>Agregar clave de cifrado</h3>
      <p>Primero debe agregar una clave privada de cifrado</p>
      <p>
          Asegúrese de guardar esta clave de manera segura, ya que solo con esta se podrá descifrar la información
      </p>
      <button
        mat-button
        style="background: #009688; color: #fff"
        (click)="openInfoKey()"
      >
        <mat-icon>info</mat-icon>
        ¿Qué es esto?
      </button>
      <mat-form-field style="display: inline;">
        <input matInput placeholder="Clave de cifrado" [(ngModel)]="key" />
        <mat-icon
          (click)="copy(key)"
          matTooltip="Copiar!"
          *ngIf="key.length > 0"
          style="cursor: pointer; color: #484848;"
          matSuffix
          >file_copy</mat-icon
        >
      </mat-form-field>
      <button
        mat-button
        style="background: #009688; color: #fff"
        (click)="generateKey()"
      >
        <mat-icon>sync</mat-icon>
        Generar clave aleatoria
      </button>
    </div>

    <div class="foot">
      <button
        [disabled]="key.length <= 0"
        style="background: #3F51B5; color: #fff"
        mat-button
        matStepperNext="false"
      >
        Siguiente
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Agregar contenido</ng-template>
    <h3>Agregue el contenido o mensaje secreto para ser cifrado</h3>
    <mat-form-field class="example-full-width" style="display: block">
      <textarea
        rows="8"
        matInput
        placeholder="Escriba aqui el contenido que desea cifrar"
        [(ngModel)]="textOriginal"
      ></textarea>
    </mat-form-field>

    <div class="foot">
      <button
        mat-button
        matStepperPrevious
        style="background: #d4d4d4; margin-right: 20px;"
      >
        <mat-icon>arrow_back</mat-icon>
        Atras
      </button>
      <button
        style="background: #3F51B5; color: #fff"
        [disabled]="textOriginal.length <= 0"
        mat-button
        matStepperNext
        (click)="encode()"
      >
        <mat-icon>lock</mat-icon>
        Cifrar
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Listo</ng-template>
    <div style="text-align: center;">
      <h3>Tu información ha sido cifrada exitosamente</h3>
      <p>
        Ahora puedes compartirla y el solo destinatario con la clave podrá
        leerla
      </p>
      <mat-form-field class="example-full-width" style="display: block">
        <textarea
          readonly
          rows="8"
          matInput
          placeholder="Contenido cifrado"
          [(ngModel)]="textEncoded"
        ></textarea>
      </mat-form-field>
      <p>
        <button
          [disabled]="textEncoded.length <= 0"
          mat-button
          style="background: #009688; color: #fff; margin-right: 20px"
          (click)="copy(textEncoded)"
        >
          <mat-icon matSuffix>file_copy</mat-icon>
          Cpiar texto!
        </button>
        <button
          [disabled]="textEncoded.length <= 0"
          mat-button
          style="background: #009688; color: #fff"
          (click)="createFile()"
        >
          <mat-icon matSuffix>vertical_align_bottom</mat-icon>
          Descargar Archivo
        </button>
      </p>
    </div>
    <div class="foot">
      <button
        mat-button
        matStepperPrevious
        style="background: #d4d4d4; margin-right: 20px"
      >
        <mat-icon>arrow_back</mat-icon>
        Atras
      </button>
      <button
        mat-button
        (click)="stepper.reset()"
        style="background: #d4d4d4"
        (click)="reset()"
      >
        Volver al inicio
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
