<div class="content">
    <app-header></app-header>

    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="screen">
        <mat-button-toggle [value]="1">
            <mat-icon>lock</mat-icon>Cifrar información
        </mat-button-toggle>
        <mat-button-toggle [value]="2">
            <mat-icon>lock_open</mat-icon>Decifrar información
        </mat-button-toggle>
    </mat-button-toggle-group>

    <app-encoder *ngIf="screen == 1"></app-encoder>
    <app-decoder *ngIf="screen == 2"></app-decoder>
    <button mat-button (click)="openPrivacity()">Privacidad de tu información</button>
    <p>Esta web hace uso de la libreria <a target="_blank" href="https://www.npmjs.com/package/pm-encoder">PM-Encoder</a> para el cifrado de las cadenas.</p>
</div>