.content {
  text-align: center;
}
.mat-button-toggle {
    &-group{
        margin: 20px;
    }
    &-checked {
        background: #009688;
        font-weight: 500;
        color: #fff;
    }
}
.mat-button-toggle-label-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}